---
export interface Props {
  title?: string;
  type?: 'note' | 'tip' | 'info' | 'warning' | 'danger';
}

const { title, type = 'note' } = Astro.props;
---

<aside class:list={['bk-callout', `bk-callout-${type}`]}>
  <div class="bk-callout-label">{type}</div>
  {title && <h2 class="bk-callout-title">{title}</h2>}
  <div class="bk-callout-body"><slot /></div>
</aside>
